/* Estilização da seção currículo */
.cv .cv-title {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cv .cv-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.cv .cv-item h4 {
  line-height: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}
.cv .cv-item h5 {
  background: #2d5994;
  color: #fff;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.cv .cv-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 16px;
  height: 16px;
  border: 2px solid #1f5297;
  background: #fff;
  border-radius: 50%;
}

/* Estilizando controles do carousel */
.carousel-indicators {
  margin-bottom: -40px;
}
.carousel-control-prev {
  justify-content: start;
  margin-left: 1rem;

  margin-bottom: 10rem;
  width: auto;
}
.carousel-control-next {
  justify-content: end;
  margin-right: 1rem;

  margin-bottom: 10rem;
  width: auto;
}

/* Estilização icones de site */
.siteIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Animação */
[data-anime] {
  opacity: 0;
  transition: 1s;
}
[data-anime="down"] {
  transform: translate(0, -100%);
}
[data-anime="up"] {
  transform: translate(0, 100%);
}
[data-anime="left"] {
  transform: translate(-100%, 0);
}
[data-anime].animate {
  opacity: 1;
  transform: translate(0, 0);
}

